<div data-o-component="o-three-sixty">
	<img
		width=480
		height=360
		src="https://image.webservices.ft.com/v1/images/raw/https%3A%2F%2Fcdn.rawgit.com%2Fftlabs%2Fo-three-sixty%2Fmaster%2Fdemos%2Fsrc%2Fdemo-img.jpg?source=origami-demo" alt="A 360 image of 3 men and a woman." />
</div>