<div
	data-o-component="o-three-sixty"
	data-o-three-sixty-reticule="https://image.webservices.ft.com/v1/images/raw/https%3A%2F%2Fcloud.githubusercontent.com%2Fassets%2F4225330%2F16559249%2F9583d8ba-41e3-11e6-94dd-f47aded72252.png?source=origami-demo"
	data-o-three-sixty-long="60"
	data-o-three-sixty-fov="60"
>
	<img
		width=480
		height=360
		src="https://image.webservices.ft.com/v1/images/raw/https%3A%2F%2Fcdn.rawgit.com%2Fftlabs%2Fo-three-sixty%2Fmaster%2Fdemos%2Fsrc%2Fdemo-img.jpg?source=origami-demo" alt="A 360 image of 3 men and a woman." />
</div>