<div
	data-o-component="o-three-sixty"
	data-o-three-sixty-lat="15"
	data-o-three-sixty-fov="60"
>
	<video
		poster="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fftlabs.github.io%2Fthree-sixty-video%2Fimages%2Fmuaythai.jpg?source=test"
		src="https://ada-pull-zone-egnalefgk5.netdna-ssl.com/mt2.webm"
		width="450"
		height="300"
		controls
		crossorigin="anonymous"
		type="video/webm;">
</div>
